.logo {
	padding:$g-tb-margin $g-lr-margin 0 $g-lr-margin;
	position:fixed;
	top:0;
	left:0;
	height:40px;
	z-index:999;
	
	@include respond-to(mobile-portrait) {
		padding:$g-tb-mobile-margin $g-lr-mobile-margin 0 $g-lr-margin/2;
		height:30px;
	}
	
	@include respond-to(mobile-landscape) {
		padding:$g-tb-mobile-margin $g-lr-mobile-margin 0 $g-lr-margin;
		height:30px;
	}
	
	img {
		height:15px;
		margin-top:1px;
		
		@include respond-to(mobile-portrait) {
			height:12px;
			margin-top:0px;
		}
		
		&.smaller-logo {
			height:27px;
			
			@include respond-to(mobile-portrait) {
				height:22px;
				//margin-top:2px;
			}
			
			display:none;
		}
	}
}

.show-project {
	.logo {
		img {
			//height:15px;
			//margin-top:1px;
			display:none;
			
			&.smaller-logo {
				//height:27px;
				display:block;
			}
		}
	}
}


.show-project {
	.logo {
		img {
			//height:15px;
			//margin-top:1px;
			display:none;
			
			&.smaller-logo {
				//height:27px;
				display:block;
			}
		}
		
		&:hover {
			img {
				display:block;
			
				&.smaller-logo {
					display:none;
				}
			}
		}
	}
}

.show-full-logo.show-project {
	.logo {
		img {
			display:block;
		
			&.smaller-logo {
				display:none;
			}
		}
	}
}
