@font-face {
	font-family: 'Riccione';
	src: url('fonts/Riccione-Light.eot');
	src: url('fonts/Riccione-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Riccione-Light.woff') format('woff'),
		url('fonts/Riccione-Light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Titling';
	src: url('fonts/TitlingGothicFBWide-Regular.eot');
	src: url('fonts/TitlingGothicFBWide-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/TitlingGothicFBWide-Regular.woff') format('woff'),
		url('fonts/TitlingGothicFBWide-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}