.main-about {
	
	.team-list {
		li {
			list-style:none;
			margin-bottom:4em;
			
			&:last-child {
				margin:0;
			}
			
			.team-portrait {
				text-align:center;
				margin-bottom:.5em;
				
				img {
					max-width:200px;
					width:30%;
				}
			}
			
			.team-name, .team-position {
				text-align:center;
				text-transform:none;
			}
			
			.team-about {
				margin-top:2em;
			}
			
			
			
		}
	}
	
}