.project-description {
	position:fixed;
	width:100%;
	left:0;
	bottom:$g-tb-margin * 2;
	padding:0;
	text-align:center;
	z-index:99;
	
	@include respond-to(mobile-landscape) {
	   bottom:$g-tb-margin;
	}
	
	&.video-description {
		h2, h3 {
			margin-right:120px;
			
			@include respond-to(mobile-portrait) {
				margin-right:50px;
			}
		}
	}
	
	h3 {
		//margin-top:.5em;
	}
}

.main-project {
	
	background:$c-white;
	width:100vw;
	
	
	.kirby-plugin-oembed {
	    position: relative;
	    padding: 0 !important;
	    top: 50%;
	    margin-left: 80px;
	    margin-right: 180px;
	    height: 80%;
		display:none;
	}
	
	
	.project-images {
		position:absolute;
	    top: 12.5%;
	    height: 75%;
	    //width: 10000px;
		left:0;
		
		@include respond-to(mobile-portrait) {
			
		}

		@include respond-to(mobile-landscape) {
		    top: 12%;
		    height: 70%;
		}
		
	   
		
		figure {
			@include flexbox;
			@include align-items(center);
		    position: absolute;
		    top: 0;
			left:0;
			float:left;
		    height: 100%;
			margin-right:$g-lr-margin * 2;
			@include opacity(0);
			
			&:last-child {
				margin-right:0;
			}
			
			&.show {
				@include opacity(1);
			}
			
			&.next {
				cursor:e-resize;
			}
			
			&.prev {
				cursor:w-resize;
			}
			
			&:last-child {
				&:hover {
					cursor:w-resize;
				}
			}
			
			img {
				height:100%;
				width:auto;
				float:left;

				&.square {
					height:100%;
					width:auto;
				}
				
				&.smaller-landscape {
					//width:90vw;
					height:auto;
				}
			}
		}
	}
	
}



.show-project.project-in {
	#barba-wrapper {
		@include transition(.1s transform);
		@include transform(translate(0px, 0));
	}
}